a:hover{
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 40px auto;
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}

pre {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 16px;
    color: #24292E;
    background-color: #F6F8FA;
}

#entry_title{
    color: black;
}

.navbar{
    padding: 1.2rem;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,0.8);
    border-color: rgba(0,0,0,0);
}

/* tables */
table {
    padding: 0;
    margin: 30px 0;
}

table tr {
    border-top: 1px solid #dfe2e5;
    background-color: white;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n) {
    background-color: #F6F8FA;
}

table tr th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr td {
    border: 1px solid #dfe2e5;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr th :first-child,
table tr td :first-child {
    margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
    margin-bottom: 0;
}
/* end of tables */

/* headings */
.h3,
.h4,
.h5,
h3,
h4,
h5 {
    margin-top: 24px;
    margin-bottom: 14px;
}

.h5, h5 {
    font-size: 1.05rem;
}
/* end of headings */
