{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block body_block %}

<div class="container my-4">
    <div class="row py-3">
        <div class="col-md-4"></div>
        <div class="col-md-4 my-5">
            <div class="card">
                <div class="card-body text-center">
                    <div>
                        <img src="\static\imgs\img.jpeg" class="img-fluid rounded-circle mb-2" alt=""
                            style="width: 50%; margin-top:-80px;">
                    </div>
                    <div class="mt-2">
                        <h2>Hi, </h2>
                        <h4>I am Preet.</h4>
                    </div>
                    <div class="text-muted my-2 py-2">
                        <p>
                            A computer science student from India who speaks python, eats datasets and develops stuff.
                        </p>
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="p-4">
                            <a href="https://github.com/preetmishra" target="_blank">
                                <i class="fab fa-github fa-2x"></i>
                            </a>
                        </div>
                        <div class="p-1"></div>
                        <div class="p-4">
                            <a href="https://www.linkedin.com/in/preetmishra/" target="_blank">
                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock body_block %}